.header {
    background-color: var(--text-background-color);
    border-bottom: 1px solid #ECECEC;
    margin-left: auto;
    margin-right: auto;
}

.main-nav {
    display: flex;
    align-items: center;
}